<div class="hmx-dashboard-toolbar" fxLayout="row wrap" fxLayoutAlign="start center">
  <h3 class="hmx-dashboard-card-header" fxFlex="1 0 auto">Prebuy Pacing</h3>
  <div  class="hmx-dashboard-toolbar-controls">
    <hmx-table-columns-filter
      *ngIf="gridColumnApi"
      [fieldsStorageSetting]="fieldsStorageSetting"
      (fieldToggle)="onFieldChanged($event)"
      (resetColumns)="onResetColumns($event)"
      (selectAllColumns)="onSelectAllColumns($event)"
      (filterTextBox)="onFilterTextBoxChanged($event)"
      [allColumnsIsVisible]="allColumnsIsVisible"
    ></hmx-table-columns-filter>
    <!--<button class="mat-icon-button">
      <span class="mat-button-wrapper">
        <mat-icon>refresh</mat-icon>
      </span>
    </button>
    <button class="mat-icon-button">
      <span class="mat-button-wrapper">
        <mat-icon>more_vert</mat-icon>
      </span>
    </button>-->
  </div>
</div>
<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="end center">
  <hmx-table-goals-legend></hmx-table-goals-legend>
</div>
<br />
<ag-grid-angular #agGrid
                 style="height: 620px;"
                 class="ag-theme-balham hmx-ag-grid-material"
                 rowHeight="44"
                 [gridOptions]="gridOptions">
</ag-grid-angular>
