<div fxLayout
     class="hmx-competitive-container">
  <div fxFlex
       *ngIf="params.value.competitiveNumber">
    <hmx-format-indicator [value]="params.value.competitiveNumber"></hmx-format-indicator>
  </div>
  <div fxFlex
       *ngIf="params.value.competitiveLink">
    <hmx-table-link-launch [value]="params.value.competitiveLink"></hmx-table-link-launch>
  </div>
  <div fxFlex
       *ngIf="params.value.competitiveDate">
    <hmx-date-format [value]="params.value.competitiveDate"></hmx-date-format>
  </div>
</div>
