.hmx-rfp-container,
.hmx-competitive-container {
  line-height: 28px;

  .hmx-green-check {
    margin-top: 2px;
  }

  .hmx-rfp-table-link-launch-container {
    text-align: left;
  }

  .hmx-rfp-format-indicator-container {
    text-align: right;

    .hmx-green-check {
      margin-right: 4px;
    }
  }
}
