@import '~src/sass/variables';

.hmx-top-navigation.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: $top-navigation-bg-color;
  color: $hmx-top-color;
  z-index: 2;

  .hmx-logo-container {
    padding-left: 40%;
    .hmx-logo {
      font-size: 24px;
      font-weight: bold;
      cursor: default;

      &-title-color {
        color: $assist-title-color;
      }

      &-tm-symbol {
        position: absolute;
        font-size: 6px;
        font-weight: bold;
      }
    }
  }

  .hmx-user-container {
    .hmx-username {
      margin-right: 10px;
      color: $hmx-top-color;
      font-family: Helvetica Arial, sans-serif;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .hmx-user-initials {
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: $assist-title-color;
    color: $hmx-top-color;

    .mat-button-wrapper {
      display: block;
      padding: 0;
    }
  }

  .hmx-sign-out-icon {
    line-height: 0;

    .mat-icon {
      cursor: pointer;
    }
  }

  .hmx-divider {
    margin: 2px 10px 0 5px;
    height: 10px;
    width: 0;
    border: 1px solid $hmx-top-color;
  }

  .hmx-fill-remaining-space {
    flex: 1 1 auto; /* This fills the remaining space, by using flexbox */
  }
}
