<div *ngIf="!isEmpty">
  <div fxLayout
       *ngIf="!isNumberFormat">
    <div fxFlex="90" class="hmx-seller-revised-rate-date">
      <hmx-date-format
        [value]="params.node.data.revisedRateDate"
        title="{{ params.node.data.revisedRateDate | date:'MM/dd/y' }}"></hmx-date-format>
    </div>
    <div fxFlex="10"
         class="hmx-revised-rate-link">
      <hmx-format-upload-file
        [value]="params.value"
        [color]="'red'"
        title="{{ params.value }}"></hmx-format-upload-file>
    </div>
  </div>
</div>
