$green-check-color: #7ED321;
$badge-pill-color: #D0021B;

.hmx-green-check {
/*  margin-top: 6px;*/
  color: $green-check-color;
}

.mat-chip-list.hmx-unresponded-items-indicator {
  .mat-chip-list-wrapper {
    margin: 0;
  }

  .mat-chip-list-wrapper {
    display: block;

    .hmx-badge-pill {
      padding: 1px 8px;
      border-radius: 10px;
      font-size: 12px;
      background-color: $badge-pill-color;
      color: #fff;
    }
  }
}
