@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.hmx-login-form {
  margin-top: 8em;

  .mat-form-field {
    width: 300px;
    outline: none;

    .mat-form-field-wrapper {
      padding-top: 10px;
    }
  }

  .mat-raised-button {
    background-color: #2284E3;
    color: #fff;
  }
}
