<div fxLayout
     fxLayoutAlign="center center"
     class="hmx-login-form">
  <div fxFlex="20">
    <div fxLayout="column">
      <div fxFlex>
        <h1>Login</h1>
        <mat-divider></mat-divider>
      </div>
     <div fxFlex>
       <form [formGroup]="loginForm" (ngSubmit)="login()">
         <table class="example-full-width" cellspacing="0">
           <tr>
             <td>
               <mat-form-field *ngIf="teamsList">
                 <mat-label>Rep Firm</mat-label>
                 <mat-select placeholder="Select Rep Firm" formControlName="team" id="team" name="team" (selectionChange)="updateUserList($event)">
                   <mat-option>None</mat-option>
                   <mat-option *ngFor="let teamItem of teamsList" [value]="teamItem.id">{{teamItem.name}}</mat-option>
                 </mat-select>
                 <mat-error>
                   <span *ngIf="!loginForm.get('team').valid && loginForm.get('team').touched">Please select Rep Firm</span>
                 </mat-error>
               </mat-form-field>
             </td>
           </tr>
           <tr>
             <td>
               <mat-form-field>
                 <mat-label>User</mat-label>
                 <mat-select formControlName="user" id="user" name="user">
                   <mat-option>None</mat-option>
                   <mat-option *ngFor="let teamUser of teamUsersList" [value]="teamUser">{{teamUser.name}}</mat-option>
                 </mat-select>
                 <mat-error>
                   <span *ngIf="!loginForm.get('user').valid && loginForm.get('user').touched">Please select Rep Firm User</span>
                 </mat-error>
               </mat-form-field>
             </td>
           </tr>
           <tr>
             <td>
               <button mat-raised-button [disabled]="!loginForm.valid">Login</button>
             </td>
           </tr>
         </table>
       </form>
     </div>

    </div>
  </div>
</div>
