@import '../../../../../../../sass/variables';

:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
}
.hmx-goals-legend {
  display: flex;
  align-items: center;
}
.hmx-goals-legend-item {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 3px 15px;
  border-radius: 3px;
  margin-left: 10px;
  border: 1px solid #ebebeb;
  min-height: 20px;
  font-size: 12px;
}
.hmx-goals-legend-item.legend-prime-in-goal {
  background: #ebebeb;
  color: $black;
}
