$icons-path: "~ag-grid-community/src/styles/icons/";
$ag-mat-icons-path: "~ag-grid-community/src/styles/material-icons/";
$font-family: Roboto, Helvetica, Arial, sans-serif;

// Header
$top-navigation-bg-color: #000;
$hmx-top-color: #fff;
$assist-title-color: #2284E3;

// Colors
$border-color: #d8d8d8;
$icon-color: #ececec;
$gray: #8a8d8b;
$green: #7bd02e;
$red: #d6243b;
$yellow: #dada15;
$orange: #fab13c;
$blue: #7fb2f1;
$linkColor: #2284E3;
$white: #fff;
$black: #000;

$table-font: 400 12px Roboto, Helvetica, Arial, sans-serif;
$table-border: 1px solid $border-color;
$table-header-color: #F2F2F2;
$table-text-color: #021221;
$border-color-highlight: #000;
$border-highlight: 1px solid $border-color-highlight;
$odd-row-background-color: #f8f8f8;
$border-filter-input-color: #2284E3;

$chart-grid-color: #D3D3D3;
$chart-tick-color: #808080;
$chart-text-color: #505050;


// delivery report
$header-background: #3F4457;
$header-text-color: #D3D3D3;
$total-text-color: #808080;
$total-highlight-color: #990000;
