$hmx-icon-yellow: #F9DA35;
$hmx-icon-red: #E22938;
$hmx-chip-blue: #247CE8;

.hmx-icon-yellow {
  color: $hmx-icon-yellow;
}

.hmx-icon-red {
  color: $hmx-icon-red;
}

.hmx-chip.mat-standard-chip{
  padding: 1px 6px;
  margin: 8px auto;
}

.hmx-icon{
  margin: 2px auto;
  display: block;
}

.hmx-chip-blue{
  background-color: $hmx-chip-blue;
  color: white;
}
