@import '../../../../../../sass/variables';
// ag-Grid  material theme overriden variables
// Colors
$border-color: #d8d8d8;
$icon-color: #ececec;

// Custom variables
$table-font: 400 12px Roboto, Helvetica, Arial, sans-serif;
$table-border: 1px solid $border-color;
$table-header-color: #F2F2F2;
$table-text-color: #021221;
$border-color-highlight: #000;
$border-highlight: 1px solid $border-color-highlight;
$odd-row-background-color: rgba(236, 236, 236, 0.4); /*#ECECEC;*/
$border-filter-input-color: #2284E3;

.hmx-ag-grid-material {
  font: $table-font;

  // custom styles for ag-grid table header
  .ag-header {
    &-container {
      background-color: $table-header-color;
/*      border-top: $border-highlight;
      border-bottom: $border-highlight;
      border-right: $border-highlight;*/
      border: $border-highlight;
    }

    &-cell {
      &-resize:after {
        height: 0;
        margin-top: 0;
      }

     /* &-text {
        color: $table-text-color;
      }*/
    }
  }

  // custom styles for ag-grid table row
  .ag-row {
//    border-right: $border-highlight;
  }

  .ag-row-level-0.ag-row:nth-child(odd) {
    background-color: $odd-row-background-color;
  }

  // custom styles for ag-grid table cell
  .ag-cell {
    line-height: 42px;

    &.left-aligned {
      text-align: left;
    }

    &.right-aligned {
      text-align: right;
    }
    &.center-aligned {
      text-align: center;
    }
  }

  .ag-header-cell,
  .ag-cell {
    padding-left: 5px;
    padding-right: 5px;

    &.left-bordered {
      border-left: $table-border;
    }

    &.left-bordered-highlight {
      border-left: $border-highlight;
    }
  }

  .ag-filter {
    input:focus {
      border-bottom: 2px solid $border-filter-input-color!important;
    }
  }

  .disabled-cell {
    opacity: 0.3;
    pointer-events: none;
  }


  .mat-standard-chip {
    min-height: 20px;
  }

  .ag-body{
    margin-left: 1px;
    margin-right: -1px;
  }

}

/*

.hmx-custom-header {
  .ag-header-cell-menu-button {
    width: 18px;
    line-height: 70px;
  }
}
*/

.ag {

  &-header {
    &-viewport {
      border-top: $border-highlight;
      border-bottom: $border-highlight;
    }
    &-container {
      //background-color: $table-header-color;
    }

    &-row {
      border-top: 0;
    }

    &-cell {
      &-resize:after {
        height: 0;
        margin-top: 0;
      }

      &-text {
        color: inherit;
      }
    }

    &-group-cell {
      &.center-aligned {
        text-align: center;
        .ag-header-group-cell-label {
          justify-content: center;
        }
      }
    }

    &-group-cell-with-group {
      border-bottom: 1px solid #000;
    }

    &-icon {
      color: black;

      &.ag-sort-ascending-icon i,
      &.ag-sort-descending-icon i {
        vertical-align: middle;
      }
    }
  }
  &-header-cell {
    text-transform: uppercase;
  }
  &-header-group-cell,
  &-header-cell,
  &-cell {
    color: $table-text-color;

    &.green-color {
      color: $green;
    }

    &.red-color {
      color: $red;
    }

    &.yellow-color {
      color: $yellow;
    }

    &.left-bordered {
      border-left: $table-border;
    }

    &.right-bordered {
      border-right: $table-border;
    }

    &.left-bordered-highlight {
      border-left: $border-highlight;
    }

    &.left-bordered:not(&-no-group) + &-no-group {
      border-left: $table-border;
    }
  }

  &-cell {
    border: 0 !important;
    &.left-aligned {
      text-align: left;
    }

    &.right-aligned {
      text-align: right;
    }

    &.center-aligned {
      text-align: center;
    }

    .ag-group-expanded .material-icons,
    .ag-group-contracted .material-icons {
      font-size: 24px;
      line-height: inherit;
      color: #2284E3;
      cursor: pointer;
    }

    &.right-floated-expand-icon .ag-group-expanded .material-icons,
    &.right-floated-expand-icon .ag-group-contracted .material-icons {
      float: right;
    }
  }
  &-row {
    &-hover {
      background: #ECF0F1 !important;
    }
  }
}

.hmx-ag-grid-material .ag-header-container {
  border: 0;
}

.ag-theme-balham .ag-header-row {
  border: 0;
}

.hmx-custom-header .ag-header-cell-menu-button {
  line-height: inherit;
}

.ag-theme-balham .ag-header-cell-menu-button .ag-icon-menu,
.ag-theme-balham .ag-header-cell-label .ag-header-icon {
  line-height: 54px;
}
.ag-theme-balham .ag-header-cell-menu-button .ag-icon-menu,
.ag-header-cell-text {
  line-height: 56px;
  height: 60px;
}

.ag-row-level-0 {
  .buyer-cell {
    color: $table-text-color;
  }
}

.ag-theme-balham .ag-header-cell::after, .ag-theme-balham .ag-header-group-cell::after {
  content: none;
}

.ag-cell-label-container {
  display: flex;
  justify-content: flex-start;
  .ag-header-cell-label {
    width: auto;
    max-width: calc(100% - 16px);
  }
  .ag-header-icon {
    order: 2;
    margin-left: 5px;
  }
}

.ag-header-cell.goal-cell {
  font-size: 12px;
  .ag-cell-label-container {
    justify-content: center;
  }
  .ag-header-cell-text {
    width: 100%;
    text-align: right;
    padding-right: 5px;
  }
}
/*
.ag-header-cell.goal-cell {
  border-top: 1px solid #000;
  margin-top: 28px;
  height: 30px;
  line-height: 28px;
  font-weight: 400;
  .ag-cell-label-container {
    height: inherit;
    line-height: inherit;
  }
  .ag-header-icon {
    height: inherit;
    line-height: inherit;
  }
  .ag-header-cell-menu-button .ag-icon-menu,
  .ag-header-cell-text {
    line-height: inherit;
    height: inherit;
  }
}
*/

.hmx-ag-grid-material .ag-row.row-huge-budget {
  .ag-cell {
    &.due-date-cell,
    &.budget-cell {
      color: $red;
      font-weight: bold;
    }
  }
}

.ag-header-icon.ag-header-cell-menu-button {
  line-height: 56px;
  .material-icons {
    font-size: 18px;
  }
}

.mat-menu-panel.custom {
  .mat-menu-content {
  }
  hr {
    margin: 0;
  }
  .mat-menu-inner {
    padding: 0px;
    width: 220px;
    font-size: 14px;
    .mat-menu-checkboxes {
      overflow: auto;
      max-height: 240px;
    }
    .mat-menu-item {
      padding: 0px 15px;
      height: 30px;
      &.reset-menu-item {
        height: 48px;
      }
    }
    .mat-form-field {
      max-width: 100%;
      .mat-form-field-wrapper{
        padding-bottom: 0.8em;
      }
      .mat-form-field-underline {
        display: none;
      }
    }
  }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: #2284e3;
}

.hmx-toggle-goals {
  margin-left: 10px;
  .mat-slide-toggle-bar {
    background-color: rgb(117, 117, 117);
    &, &:hover {
      .mat-slide-toggle-ripple,
      .mat-ripple-element,
      .mat-slide-toggle-persistent-ripple {
        opacity: 0;
        background: transparent;
      }
    }
  }

  &.mat-slide-toggle.mat-checked {
    .mat-slide-toggle-bar {
      background-color: rgba(34, 132, 227, 0.63);
    }
    .mat-slide-toggle-thumb {
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      background-color: #fafafa;
    }

  }
}
