<div class="covers-container">

  <mat-checkbox *ngIf="covers?.length" [(ngModel)]="checked" (ngModelChange)="onCheckboxModelChange($event)">
    <span *ngIf="checked">Uncheck to see small sized images</span>
    <span *ngIf="!checked">Large sized images</span>
  </mat-checkbox>

  <div *ngIf="covers?.length" class="cover-body">
    <div *ngFor="let cover of covers" class="cover-body-item">
      <div class="cover-title" [style.width.px]="imageWidth">
        <h4>{{cover.name}}</h4>
      </div>
      <img [src]="cover.coverUrl" [style.width.px]="imageWidth" />
    </div>
  </div>

  <p *ngIf="covers?.length==0">
    No movies checked
  </p>

</div>