<div class="movie-container">

  <div class="movie-title">
    <div class="section-1">
      <p>Do you have fav movie series?</p>
      <p>Select or add some!</p>
    </div>
    <div class="section-2">
      <div *ngIf="movies?.length">
        <form name="addNewMovieForm" class="example-form">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>movie title</mat-label>
            <input matInput [(ngModel)]="movieTitle" name="movieTitle">
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>movie url</mat-label>
            <input matInput [(ngModel)]="movieUrl" name="movieUrl">
          </mat-form-field>
          <button mat-stroked-button color="primary" [disabled]="!(movieTitle && movieUrl)" (click)="addNewMovie(movieTitle, movieUrl)">add</button>
        </form>
      </div>
    </div>
  </div>

  <div class="movie-body">
    <div *ngFor="let movie of movies">
      <mat-checkbox [(ngModel)]="movie.checked" (ngModelChange)="changeCheckedValue(movie)">{{movie.name}}</mat-checkbox>
    </div>
  </div>



  <div class="movie-nav">
    <a routerLink="/covers">
      <p>Done?</p>
      <p>Go to covers</p>
    </a>
  </div>

</div>