<img [src]="angularImg" style="width: 100px;" />

<div class="angular6-backbground">
    <br />
    This is Angular 6 application : <b>FIRST INSTANCE</b>
</div>

<br />

<button (click)="sayHello()">Say Hello</button>
<label>{{helloMessage}}</label>

<br />

<a [routerLink]="['/nested']" routerLinkActive="active">Nested route</a>&nbsp;
<a href="#/angularjs/nested"> AngularJS Nested route</a>

<br />

<router-outlet></router-outlet>

<div>
    <p *ngFor="let user of data">
        <b>{{user.id}}:</b> <span>{{user.email}}</span>
    </p> 
</div>