@import '~src/sass/variables';

.hmx-sidenav-container {
  min-height: 100%;
}
.hmx-sidenav-panel {
  width: 3rem;
  background-color: $top-navigation-bg-color;
  color: $hmx-top-color;
  position: fixed;
  margin-top: 3em;
  .active {
    color: $assist-title-color;
  }
}

.mat-icon-button[disabled][disabled]{
  color: rgba(255,255,255,.26)
}

