<mat-sidenav-container class="hmx-sidenav-container">
  <mat-sidenav mode="side" opened class="hmx-sidenav-panel" *ngIf="user">
    <button mat-icon-button routerLink="/" routerLinkActive="active"><mat-icon>dashboard</mat-icon></button>
    <!--button mat-icon-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>description</mat-icon></button-->
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
