/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

@import "~src/app/shared/components/c3-charts/custom-c3-charts-styles.scss";
@import "~src/app/pages/dashboard/components/prebuy-pacing/components/custom-table-material-styles.scss";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
}

a {
  color: $linkColor;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

button.mat-button,
button.button {
  height: 36px;
  min-width: 60px;
  padding: 0 12px;
  line-height: normal;
  border-radius: 2px;

  &--blue {
    background: $linkColor;
    color: white;
  }
}

input {
  outline: 0;
}

.link-color {
  color: $linkColor;
}

.bold {
  font-weight: 700;
}

.white-box {
  background: #fff;
  padding: 20px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .3);
  border-radius: 2px;
}

.text-highlight {
  color: $total-highlight-color;
}

.select-block {

  &.ng-select {
    border-radius: 5px;
    border: 0;

    &.ng-select-opened.ng-select-top > .ng-select-container,
    &.ng-select-opened.ng-select-bottom > .ng-select-container {
      z-index: 1110;
      background: transparent;
      border-color: transparent;
      visibility: hidden;

      .ng-value-container {
        visibility: hidden;
      }

      .ng-arrow-wrapper {
        visibility: visible;
      }
    }

    .ng-arrow-wrapper {
      height: 100%;
      padding: 0;
      margin: 0;
    }
    .ng-arrow-wrapper .ng-arrow {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 25px;
      border: 0;
      margin: 0;
      color: black;

      &::after,
      &::before {
        position: absolute;
        right: 0;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
      }

      &::after {
        content: 'arrow_drop_down';
        bottom: 1px;
      }

      &::before {
        content: 'arrow_drop_up';
        top: 1px;
      }
    }
  }
  &.ng-dropdown-panel {
    border: 1px solid $border-color;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 25px 5px 5px;
    z-index: 1000;

    &.ng-select-top {
      bottom: 0;
    }

    &.ng-select-bottom {
      top: 0;
    }

    &.ng-select-bottom,
    &.ng-select-top {
      .ng-dropdown-panel-items {
        .ng-option {
          border-radius: 0;
        }
      }
    }

    .ng-dropdown-panel-items .ng-option {

      &.ng-option-marked {
        background: $linkColor;
        color: white;
      }

      &.ng-option-child {
        font-size: 12px;

        &:before {
          content: "-";
          margin-left: -10px;
          margin-right: 5px;
        }
      }
    }
  }
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 12px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 2;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 0;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

mat-tooltip-component .mat-tooltip {
  background: black;
  border-radius: 5px;
  font-size: 12px;
}

div {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 13px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
  }
}

.demography-filter mat-dialog-container {
  overflow: visible;
}

hmx-ratings-update-notifier {
  width: 350px;
  position: absolute;
  top: 60px;
  right: 15px;
  z-index: 5;
}
