hmx-dashboard {
  h1 {
    height: 21px;
    width: 352px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
  }
}
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  //  min-width: 500px;
  &.scrollable {
    overflow: auto;
  }
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
}

::ng-deep .ag-header-icon .material-icons {
  vertical-align: middle;
}
